@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Poppins&display=swap');


body{
    background-color: rgb(49, 49, 49);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* .head{
    display: flex;
} */
h2 {
    color: white;
    font-size: 40px;
    margin: 50px;
    text-align: center;
}
h1, h3{
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    width: 35vh
}
.center{
    display: flex;
    justify-content: center;
}
button{
    color: white;
    background-color: black;
    width: 154px;
    height: 39px;
}
button:hover{
    color: black;
    background-color: white;
}
p{
    color: white;
    font-size: 32px;
    border: 2px solid white;
    width: 35vh;


}
#SearchInput{
    display: flex;
    height: 37px;
    width: 300px;
}

img {
    background-color: rgb(255, 255, 255);
height:61vh;
width: 60vh;
position: absolute;
left: 37%;
top: 29%;
}